[zabbix]
{% if php_fpm.vars.tcp_ip_socket.enabled %}
listen = {{ php_fpm.vars.tcp_ip_socket.listen }}

user = {{ php_fpm.vars.webserver_user }}
group = {{ php_fpm.vars.webserver_group }}
{% endif %}
{% if php_fpm.vars.unix_socket.enabled %}
{% if ansible_os_family == "Debian" %}
listen = /var/run/php/{{ php_fpm.vars.unix_socket.file }}
{% endif %}
{% if ansible_os_family == "RedHat" and php_repo.remi.enabled %}
listen = /var/opt/remi/php{{ php.version | replace('.','')}}/run/php-fpm/{{ php_fpm.vars.unix_socket.file }}
{% endif %}
{% if ansible_os_family == "RedHat" and not php_repo.remi.enabled %}
listen = /var/run/php-fpm/{{ php_fpm.vars.unix_socket.file }}
{% endif %}

user = {{ php_fpm.vars.unix_socket.user }}
group = {{ php_fpm.vars.unix_socket.group }}

listen.owner = {{ php_fpm.vars.webserver_user }}
listen.group = {{ php_fpm.vars.webserver_group }}
listen.mode = 0660
{% endif %}

pm = {{ php_fpm.vars.pm }}
pm.max_children = {{ php_fpm.vars.pm_max_children }}
pm.start_servers = {{ php_fpm.vars.pm_start_servers }}
pm.min_spare_servers = {{ php_fpm.vars.pm_min_spare_servers }}
pm.max_spare_servers = {{ php_fpm.vars.pm_max_spare_servers }}

php_value[session.save_handler] = files
php_value[session.save_path]    = /var/lib/php/sessions/

php_value[max_execution_time] = 300
php_value[memory_limit] = 128M
php_value[post_max_size] = 16M
php_value[upload_max_filesize] = 2M
php_value[max_input_time] = 300
php_value[max_input_vars] = 10000
php_value[date.timezone] = {{ php_fpm.vars.date_timezone }}